/* Aseguramos que el body ocupe toda la altura de la pantalla */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Sección de login */
#login-section,
#register-section {
  margin: 0;
  padding: 20px 0;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

/* Estilos para las tarjetas de login y registro */
#login-section .card,
#register-section .card {
  margin-left: 15%;
  margin-right: 15%;
}

#boton-sesion {
  display: block;
  margin: 0 auto;
}

/* Configuramos el contenedor general para el footer sticky */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Forzamos el footer a estar al fondo */
footer {
  margin-top: auto;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 767px) {
  #recipes-section .card,
  #login-section .card,
  #register-section .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 599px) {
  #recipes-section .card,
  #login-section .card,
  #register-section .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 424px) {
  #recipes-section .card,
  #login-section .card,
  #register-section .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
